<% if(success && success.length) {%>
<div class="flash-container">
  <h1><%= success %></h1>
</div>
<% } %>

<% if(failure && failure.length) {%>
<div class="flash-container">
  <h1><%= failure %></h1>
</div>
<% } %>
