<% layout("./layouts/boilerplate") %>
<body>
  <!-- Problems Section -->
  <section class="problems">
    <div class="top-container">
      <div class="header-section">
        <h1>Find a problem to solve</h1>
        <a class="post-problem-button" href="/problems/new">Post a problem</a>
      </div>

      <!-- Categories -->
      <div class="categories">
        <button class="category-tag">Healthcare</button>
        <button class="category-tag">Finance</button>
        <button class="category-tag">Education</button>
        <button class="category-tag">Logistics</button>
        <button class="category-tag">Retail</button>
        <button class="category-tag">Food & Beverage</button>
        <button class="category-tag">Media</button>
        <button class="category-tag">Energy</button>
        <button class="category-tag">Travel</button>
        <button class="category-tag">Public Sector</button>
        <button class="category-tag">Sports</button>
        <button class="category-tag">Gaming</button>
      </div>
      <h2 class="newly-added">Problems</h2>
    </div>
    <div class="cards-container">
      <% for(let problem of allProblems){ %>
      <a href="/problems/<%= problem._id %>">
        <div class="problem-card">
          <img src="<%= problem.image %>" alt="Restaurant food waste" />
          <h3><%= problem.title %></h3>
          <p class="card-meta"><%= problem.category %></p>
        </div>
      </a>
      <% } %>
    </div>
  </section>
</body>
