<!-- Hero Section -->
<section class="hero">
  <!-- <img src="/img.png" alt="Background Image" class="bg-image"> -->
  <div class="hero-content">
    <h1>Welcome to HackTrack</h1>
    <p>
      The place for hackers, innovators, and problem solvers to connect with
      real-world problems and solutions
    </p>
    <button class="cta-button">Get Started</button>
  </div>
</section>
